DISPLAY ALL PICTURES WITH

<% @products.each do |product| %>
	<div>
		<div class=""><%= product.name %></div>
		<div class=""><%= product.description %></div>
		<div class=""><%= product.price %></div>
		<br>
	</div>
<% end %>
