DISPLAY ALL PICTURES WITH

<% @products.each do |product| %>
	<div>
		<%= product.name %>
			<% product.reviews.each do |review| %>
				<%= review.name %>
				<%= review.text %>
			</div>

			<% end %>
		<%= link_to "All Reviews", @reviews %>
<% end %>
