DISPLAY ALL PICTURES WITH

<% @products.each do |product| %>
	<div>
		<div class=""><%= product.name %></div>
		<div class=""><%= product.description %></div>
		<div class=""><%= product.price_in_cents %></div>
		<br>
	</div>
<% end %>
<%= link_to "Create new product?", new_product_path %>
